.form {
  background-color: #ffffff;
  border-radius: 7px;
  margin: 20px 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px -3px rgb(191, 193, 194);
}

.input-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.input-flex input,
select {
  border: 2px solid #eee;
  border-radius: 6px;
  padding: 10px;
  background-color: #fafafa;
  margin: 10px 0;
  box-sizing: border-box;
  /* flex-grow: 1; */
  width: 400px;
}
.form-create {
  margin: 10px 0;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #03aeee;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 5px 5px lightblue;
  width: 10%;
}
.form-cancel {
  margin: 10px 0;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border: 2px solid #a7a5a5;
  width: 10%;
  color: #a7a5a5;
}
.end {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
}