.relative {
  position: relative;
  margin: 30px 0px 0px 0px;
}

*:focus {
  outline: none;
}

.form-input {
  margin: 10px 0;
  padding: 15px;
  border: 2px solid #eee;
  border-radius: 5px;
  width: 100%;
}

.form-input + label {
  position: absolute;
  top: 22px;
  left: 16px;
  color: #ccc;
  pointer-events: none;
  font-size: 14px;
  transition: all 0.5s ease;
  font-weight: bold;
}
input:focus + label {
  top: 3px;
  background: white;
  padding: 0 10px;
  color: #03aeee;
  font-size: small;
  font-weight: bold;
}

input:valid + label {
  top: 3px;
  background: white;
  padding: 0 10px;
  color: #03aeee;
  font-size: small;
  font-weight: bold;
}
