.subheader {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 7px;
  margin: 20px 20px;
  padding: 35px;
  box-shadow: 0px 5px 5px -3px rgb(191, 193, 194);
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: larger;
  font-weight: bold;
}

.subheader-right {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #eaf9ff;
  border-radius: 50px;
  width: 20%;
}

.icon-edit {
  padding: 15px;
  background-color: #03aeee;
  border-radius: 50%;
}

.icon-edit + span {
  /* padding:10px; */
  margin:10px;

}
