.detailsCard {
 max-width: 1275px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 7px;
  margin: 20px 20px;
  padding: 15px;
  box-shadow: 0px 5px 5px -3px rgb(191, 193, 194);
  flex-wrap: wrap;
  justify-content: space-between;
}
