.tabled {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 7px;
    margin: 20px 20px;
    padding: 17px;
    box-shadow: 0px 5px 5px -3px rgb(191, 193, 194);
  }

  .tabled td {
    flex:0.14;
    display: flex;
    align-items: center;
    padding: 5px;
  }

  .img-td img {
    width:18px;
    height:18px;
    margin: 5px;
  }